---
permalink: congresosrealizados/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Congreso Laboral 2025</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  
    <div class="w-100" style="background-image: url('/ELEMENTOS/Congreso/New/06_BANNER/CONGRESO\ LABORALai-28.png'); background-size: contain;">
      <div class="container py-6">
        <div class="row mx-auto" style="justify-content:center;display: block!important;margin: 2rem 0; padding: 4rem 0;">
          <h1 style="color: #fff!important;text-align: center;">Congresos Realizados</h1>
        </div>
      </div>
    </div>

    <!--Congresos-->
    <div class="section m-0" style="background-color: #f1f5fd;">
        <div class="container my-6">
            <div class="row justify-content-center">
                <div class="col-xl-12 my-4 text-center">
                    <h1>Congresos Realizados</h1>
                </div>

                {% for congreso in collections.congresos %}
                <div class="col-lg-4 my-2">
                    <div>
                        <img src="{{congreso.data.image}}">
                        <div class="congresos_content">
                            <h4>{{congreso.data.title}}</h4>
                            <p>{{congreso.data.descripcion | safe}}</p>
                            <a class="btn btn-blue" href="#">Más Información</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}