---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Congreso Laboral 2025</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <div class="popup2">
        <button id="close2">&times;</button>
        <a target="_blank" href="https://bit.ly/EncuentroJusticiaAbierta"><img src="/ELEMENTOS/popup-ju.gif"></a>
    </div>

    <div class="section m-0 py-6" style="background-image: url('/ELEMENTOS/Congreso/New/06_BANNER/CONGRESO\ LABORALai.png'); background-size: cover;">
        <div class="container">
            <div class="row my-6 py-6">
                <div class="col-lg-5 d-flex" style="align-items:center">

                    <div class="my-6" style="text-align:left">
                        <h3 class="text-white notranslate" style="font-size:40px; margin-bottom:5px">Congreso Nacional de Derecho Laboral 2024</h3>
                        <br>
                        <p class="text-white" style="font-size:20px;font-weight:400;line-height:24px">Construyendo justicia laboral transparente y accesible para Guatemala</p>
                        <br>
                        <a class="btn btn-blue" href="/Congreso-Derecho-Laboral-2024/index.html">Ver Jurisprudencia</a>
                    </div>

                </div>
                <div class="col-lg-7">

                    <div class="my-6" style="text-align:center">
                        <img  src="/ELEMENTOS/Congreso/New/01_SLIDER/CONGRESO LABORALai-23.png">
                        
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--CONTENIDO-->

    <!--Introduccion-->
    <div class="section m-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-4 d-flex align-items-center">
                    <div>
                        <h1>Congreso Nacional de Derecho Laboral 2024</h1>
                        <p>
                            El Congreso Nacional de Derecho Laboral es un espacio de diálogo, 
                            análisis y propuestas sobre los desafíos y oportunidades en el ámbito 
                            de la justicia laboral. Reúne a expertos, académicos, jueces, 
                            abogados y actores clave para fortalecer el acceso a una justicia eficiente, transparente e inclusiva.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 my-4">
                    {% for video in collections.videos | limit(1)%}
                    {{video.data.link | safe}}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <!--Estadisticas-->
    <div class="section m-0 mt-4 p-0">
        <div class="row">
            <div class="col-lg-4 px-0">
                <div style="background-image: url('/ELEMENTOS/Congreso/New/07_IMAGENES/CONGRESO\ LABORALai-24.png'); background-size: cover;">
                    <div class="content-estadistic">
                        <p class="number">2</p>
                        <p>Ediciones exitosas del Congreso realizadas a nivel nacional.</p>
                        <!-- <p>
                            
                        </p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 px-0">
                <div style="background-image: url('/ELEMENTOS/Congreso/New/07_IMAGENES/CONGRESO\ LABORALai-25.png'); background-size: cover;">
                    <div class="content-estadistic">
                        <p class="number">+10</p>
                        <p>Exponentes nacionales e internacionales expertos en justicia laboral, tecnología y gobernanza.</p>
                        <!-- <p>
                            Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet
                        </p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 px-0">
                <div style="background-image: url('/ELEMENTOS/Congreso/New/07_IMAGENES/CONGRESO\ LABORALai-26.png'); background-size: cover;">
                    <div class="content-estadistic">
                        <p class="number">+100</p>
                        <p>Participantes comprometidos en la construcción de una justicia laboral más eficiente, transparente y accesible.</p>
                        <!-- <p>
                            Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Congresos-->
    <div class="section m-0" style="background-color: #f1f5fd;">
        <div class="container my-6">
            <div class="row justify-content-center">
                <div class="col-xl-12 my-4 text-center">
                    <h1>Congresos Realizados</h1>
                </div>

                {% for congreso in collections.congresos %}
                <div class="col-lg-4 my-2">
                    <div>
                        <img src="{{congreso.data.image}}">
                        <div class="congresos_content">
                            <h4>{{congreso.data.title}}</h4>
                            <p>{{congreso.data.descripcion | safe}}</p>
                            <a class="btn btn-blue" href="#">Más Información</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <!--SLIDER-->  
    <div class="w-100 slider-content-v5">
        <div class="container py-6">
            <div class="row mx-auto" style="justify-content:center;;margin: 2rem 0; padding: 4rem 0;">
                <div class="text-center m-auto">
                    <h1 style="color: #fff!important;text-align: center;">Consulta la Jurisprudencia Laboral Actualizada</h1>
                    <br>
                    <a class="btn btn-blue-dark" href="/Congreso-Derecho-Laboral-2024/index.html">Ver Jurisprudencia</a>
                </div>
            </div>
        </div>
    </div>

    <!--Videos-->
    <div class="section m-0" style="background-color: #f1f5fd;">
        <div class="container my-6">
            <div class="row justify-content-center">
                <div class="col-xl-12 my-4 text-center">
                    <h1>Videos y Transcripción</h1>
                </div>

                {% for video in collections.videos %}     
                <div class="col-lg-4 my-2">
                    <div class="videos_content_media"><a href="#">
                        {{video.data.link | safe}}
                        <div class="videos_content">
                            <p>{{video.data.date | dateFormat('DD/MM/YYYY')}}</p>
                            <h4 class="truncate">{{video.data.title}}</h4>
                            <p>{{video.data.descripcion}}</p>
                        </div>
                    </a></div>
                </div>
                {% endfor %}

                {% for trans in collections.transcripcion %}      
                <div class="col-lg-4 my-2">
                    <div class="videos_content_media"><a href="{{trans.data.link | safe}}">
                        <img src="{{trans.data.image}}">
                        <div class="videos_content">
                            <p>{{trans.data.date | dateFormat('DD/MM/YYYY')}}</p>
                            <h4 class="truncate">{{trans.data.title}}</h4>
                            <p>{{trans.data.descripcion | safe}}</p>
                        </div>
                    </a></div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}

{% block body_javascripts %}
    <script src="/js/popup2.js"></script>
{% endblock %}