---
permalink: congresolaboral/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Congreso Laboral 2025 | ¿Qué es el Congreso Nacional de Derecho Laboral?</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  
    <div class="w-100" style="background-image: url('/ELEMENTOS/Congreso/New/06_BANNER/CONGRESO\ LABORALai-28.png'); background-size: contain;">
      <div class="container py-6">
        <div class="row mx-auto" style="justify-content:center;display: block!important;margin: 2rem 0; padding: 4rem 0;">
          <h1 style="color: #fff!important;text-align: center;">¿Qué es el Congreso Nacional de Derecho Laboral?</h1>
          <p style="color: #fff!important;text-align: center;">El Congreso Nacional de Derecho Laboral 2024 tiene como objetivo generar propuestas concretas que permitan la mejora del sistema de justicia laboral en Guatemala. A través de ponencias, mesas redondas y talleres interactivos, buscamos:</p>
        </div>
      </div>
    </div>

    <!--Estadisticas-->
    <div class="section m-0 mt-0 p-0">
        <div class="row">
            <div class="col-lg-4 px-0">
                <div style="background-image: url('/ELEMENTOS/Congreso/New/07_IMAGENES/CONGRESO\ LABORALai-24.png'); background-size: cover;">
                    <div class="content-estadistic-2">
                        <p>Fomentar la transparencia y eficiencia en los procesos laborales.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 px-0">
                <div style="background-image: url('/ELEMENTOS/Congreso/New/07_IMAGENES/CONGRESO\ LABORALai-25.png'); background-size: cover;">
                    <div class="content-estadistic-2">
                        <p>Facilitar el uso de lenguaje claro y accesible para trabajadores y empleadores.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 px-0">
                <div style="background-image: url('/ELEMENTOS/Congreso/New/07_IMAGENES/CONGRESO\ LABORALai-26.png'); background-size: cover;">
                    <div class="content-estadistic-2">
                        <p>Impulsar herramientas digitales para fortalecer la justicia abierta en el ámbito laboral.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}